* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/background.jpeg");
    background-size: 100%;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.75);
    width: 80vw;
    height: 60vh;
    border-radius: 16px;
    padding: 16px;
}

.content-upper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.current-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.extra-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-input {
    height: 32px;
    padding-inline: 8px;
}

.content-lower {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    display: grid;
    padding: 8px;
}

.search {
    cursor: pointer;
}

.city, .date {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.condition, .temperature {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
}

.humidity, .wind {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
}

.day>div>:nth-child(1),
.day>div>:nth-child(3) {
    font-size: 18px;
    margin-bottom: 8px;
}

.day>div>:nth-child(2),
.day>div>:nth-child(4) {
    font-size: 22px;
    margin-bottom: 8px;
}